# ==============================
# PostgreSQL
# ==============================

POSTGRES_USER=ecomeal
POSTGRES_PASSWORD=ecomeal


# ==============================
# RabbitMQ
# ==============================

RABBITMQ_USER=ecomeal_admin
RABBITMQ_PASSWORD=ecomeal_pass