# =====================
# PostgreSQL
# =====================

POSTGRES_USER=ecomeal
POSTGRES_PASSWORD=ecomeal
POSTGRES_DB=ecomeal_paciente


# =====================
# RabbitMQ
# =====================

RABBITMQ_USER=ecomeal
RABBITMQ_PASSWORD=ecomeal


# =====================
# Banco compartilhado
# =====================

DB_HOST=postgres
DB_PORT=5432
DB_USER=ecomeal
DB_PASSWORD=ecomeal


# =====================
# Databases
# =====================

DB_PACIENTE=ecomeal_paciente
DB_PLANO=ecomeal_planoalimentar
DB_REFEICAO=ecomeal_refeicoes
DB_RECOMENDACAO=ecomeal_recomendacao